name: Build PR Documentation

on:
  workflow_call:
    inputs:
      commit_sha:
        required: true
        type: string
      package:
        required: true
        type: string
      package_name:
        type: string
        description: "Should be used when a package name differs from its repostory name"
      path_to_docs:
        type: string
      notebook_folder:
        type: string
      # supply --not_python_module for HF Course
      additional_args:
        type: string
      languages:
      # supply space-separated language codes
        type: string
      package_path:
        type: string
      install_rust:
        type: boolean
    secrets:
      token:
        required: true

jobs:
  build_main_documentation:
    runs-on: ubuntu-latest
    container:
      huggingface/transformers-doc-builder

    steps:
      - uses: actions/checkout@v2
        with:
          repository: 'huggingface/doc-builder'
          path: doc-builder
        
      - uses: actions/checkout@v2
        with:
          repository: 'huggingface/${{ inputs.package }}'
          path: ${{ inputs.package }}

      - uses: actions/setup-node@v2
        with:
          node-version: '16'

      - name: Set env variables
        run: |
          if [ -z "${{ inputs.path_to_docs }}" ]
          then
            echo "doc_folder=${{ inputs.package }}/docs/source" >> $GITHUB_ENV
            echo "path_to_docs not provided, defaulting to ${{ inputs.package }}/docs/source"
          else
            echo "doc_folder=${{ inputs.path_to_docs }}" >> $GITHUB_ENV
          fi

          if [ -z "${{ inputs.package_name }}" ];
          then
            echo "package_name=${{ inputs.package }}" >> $GITHUB_ENV
          else
            echo "package_name=${{ inputs.package_name }}" >> $GITHUB_ENV
          fi

      - name: Install Rust
        uses: actions-rs/toolchain@v1
        if: inputs.install_rust
        with:
          toolchain: stable

      - name: Setup environment
        shell: bash
        run: |
          pip uninstall -y doc-builder
          cd doc-builder
          git pull origin main
          pip install .
          cd ..

          if [[ -n "${{ inputs.package_path }}" ]]
          then
            cd ${{ inputs.package_path }}
            pip install .[dev]
          elif [[ "${{ inputs.additional_args }}" != *"--not_python_module"* ]];
          then
            cd ${{ inputs.package }}
            pip install .[dev]
          fi
          cd ..

      - name: Setup git
        run: |
          git config --global user.name "Hugging Face Doc Builder"
          git config --global user.email docs@huggingface.co

      - name: Create build directory
        run: |
          mkdir build_dir
          mkdir build_dir/${{ inputs.package }}
          cd build_dir/${{ inputs.package }}
          wget https://raw.githubusercontent.com/huggingface/doc-build/main/${{ inputs.package }}/_versions.yml

      - name: Make documentation
        shell: bash
        env:
          NODE_OPTIONS: --max-old-space-size=6656
        run: |
          echo "doc_folder has been set to ${{ env.doc_folder }}"
          cd doc-builder
          args="--build_dir ../build_dir --clean --html ${{ inputs.additional_args }}"

          if [ ! -z "${{ inputs.notebook_folder }}" ];
          then
            args="$args --notebook_dir ../notebook_dir"
          fi

          if [ -z "${{ inputs.languages }}" ];
          then
            echo "languages not provided, defaulting to English"
            doc-builder build ${{ inputs.package }} ../${{ env.doc_folder }} $args
          else
            IFS=', ' read -r -a langs <<< "${{ inputs.languages }}"
            for lang in "${langs[@]}"
            do
                echo "Generating docs for language $lang"
                doc-builder build ${{ inputs.package }} ../${{ env.doc_folder }}/$lang $args --language $lang
            done
          fi

          cd ..

      - name: Push to repositories
        run: |
          cd build_dir
          if [ "${{ inputs.package }}" != "${{ env.package_name }}" ]; then
            mv ${{ inputs.package }} ${{ env.package_name }}
          fi
          doc-builder push ${{ env.package_name }} --doc_build_repo_id "huggingface/doc-build" --token ${{ secrets.token }} --commit_msg "Updated with commit ${{ inputs.commit_sha }} See: https://github.com/huggingface/${{ inputs.package }}/commit/${{ inputs.commit_sha }}"

          if [ -d "notebook_dir" ]
          then
            mkdir ${{ inputs.notebook_folder }}
            cp -r ./notebook_dir/. ${{ inputs.notebook_folder }}
            doc-builder push ${{ inputs.notebook_folder }} --doc_build_repo_id "huggingface/doc-build" --token ${{ secrets.token }} --commit_msg 
          fi
        shell: bash
