name: Bump huggingface.js packages

on:
  workflow_dispatch:
  schedule:
    - cron: "0 3 * * *" # Every day at 3am

concurrency:
  group: bump-huggingface-js-packages
  cancel-in-progress: true

jobs:
  pull_request:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Set up Node.js
        uses: actions/setup-node@v3
        with:
          node-version: "20"

      - name: Install dependencies
        run: npm install
        working-directory: ./kit

      - name: Update dependencies
        run: |
          npm install @huggingface/tasks@latest @huggingface/inference@latest
        working-directory: ./kit

      - name: Check for changes
        id: git-check
        run: |
          git config --global --add safe.directory "$GITHUB_WORKSPACE"
          git add .
          if git diff --cached --quiet; then
            echo "changed=false" >> "$GITHUB_OUTPUT"
          else
            echo "changed=true" >> "$GITHUB_OUTPUT"
          fi

      - name: Create Pull Request
        if: steps.git-check.outputs.changed == 'true'
        uses: peter-evans/create-pull-request@v7
        with:
          path: .
          token: ${{ secrets.TOKEN_INFERENCE_SYNC_BOT }}
          commit-message: "chore: bump @huggingface/tasks and @huggingface/inference"
          branch: bump-huggingface-js-packages
          delete-branch: true
          title: "[Bot] Bump huggingface.js packages"
          body: |
            This PR updates:
            - `@huggingface/tasks`
            - `@huggingface/inference`

            It was generated automatically by the [Bump huggingface.js packages workflow](https://github.com/huggingface/huggingface_hub/blob/main/.github/workflows/bump-huggingface-js-packages.yml).

            Please verify and merge if all looks good.

            Ping: @Wauplin @mishig25
          reviewers: |
            Wauplin
            mishig25
