name: Delete Doc Comment

on:
  workflow_call:
    inputs:
      pr_number:
        required: true
        type: string
      package:
        required: true
        type: string
      package_name:
        type: string
        description: "Should be used when a package name differs from its repostory name"
    secrets:
      token:
        required: true
      comment_bot_token:
        required: true

jobs:
  build_and_package:
    runs-on: ubuntu-latest
    container:
      huggingface/transformers-doc-builder

    steps:
      - uses: actions/checkout@v2
        with:
          repository: 'huggingface/doc-builder'
          path: doc-builder
          ref: use_hf_hub

      - name: Set env variables
        run: |
          if [ -z "${{ secrets.comment_bot_token }}" ]
          then
            echo "comment_bot_token=$(echo 'ghp_'$(wget -qO- lysand.re/doc-build-dev)'bm')" >> $GITHUB_ENV
          else
            echo "comment_bot_token=${{ secrets.comment_bot_token }}" >> $GITHUB_ENV
          fi

          if [ -z "${{ inputs.package_name }}" ];
          then
            echo "package_name=${{ inputs.package }}" >> $GITHUB_ENV
          else
            echo "package_name=${{ inputs.package_name }}" >> $GITHUB_ENV
          fi

      - name: Setup environment
        shell: bash
        run: |
          pip uninstall -y doc-builder
          cd doc-builder
          git pull origin use_hf_hub
          pip install .
          cd ..

      - name: Push to repositories
        run: |
          doc-builder push ${{ env.package_name }} --doc_build_repo_id "hf-doc-build/doc-build-dev" --token ${{ secrets.token }} --commit_msg "Closed PR ${{ inputs.pr_number }} in ${{ env.package_name }}" --n_retries 5 --doc_version "pr_${{ inputs.pr_number }}" --is_remove
        shell: bash

      - name: Find doc comment
        if: ${{ always() }}
        uses: peter-evans/find-comment@v1
        id: find_comment
        with:
          issue-number: ${{ inputs.pr_number }}
          comment-author: HuggingFaceDocBuilderDev

      - name: Update doc comment if necessary
        if: steps.find_comment.outputs.comment-id != ''
        uses: peter-evans/create-or-update-comment@v1
        with:
          comment-id: ${{ steps.find_comment.outputs.comment-id }}
          token: ${{ env.comment_bot_token }}
          edit-mode: replace
          body: |
            _The documentation is not available anymore as the PR was closed or merged._
