name: Delete old PRs docs
on:
  workflow_dispatch:
  schedule:
    - cron: "11 11 * * *"

defaults:
  run:
    working-directory: scripts

jobs:
  delete_old_prs:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: denoland/setup-deno@v2
        with:
          deno-version: v1.x
      - run: deno run --allow-env --allow-net --allow-run --allow-read ./delete-old-prs.ts
        env:
          HF_ACCESS_TOKEN: ${{ secrets.HF_ACCESS_TOKEN }}
