name: SvelteKit Lint
on:
  pull_request:
  push:
    branches:
      - main

jobs:
  lint:
    runs-on: ubuntu-latest
    timeout-minutes: 10

    steps:
      - uses: actions/checkout@v3

      - uses: actions/setup-node@v3
        with:
          node-version: "18"

      - name: Install dependencies
        run: npm install ci
        working-directory: kit

      - name: Checking lint/format errors
        run: npm run lint
        working-directory: kit

      - name: Checking type errors
        run: npm run check
        working-directory: kit