name: Run Tests

on: [pull_request]

jobs:
  test:
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest]
      fail-fast: false
    runs-on: ${{ matrix.os }}
    steps:
    - uses: actions/checkout@v4
    - name: Set up Python 3.10
      uses: actions/setup-python@v5
      with:
        python-version: 3.10
    - name: Install Python dependencies
      run: |
        pip install -e ".[all]"
        pip install git+https://github.com/huggingface/transformers
    - name: Run Tests
      run: python -m pytest -n 1 --dist=loadfile -s -v ./tests/
