name: Run Tests

on: [pull_request]

jobs:
  test:
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest]
      fail-fast: false
    runs-on: ${{ matrix.os }}
    steps:
    - uses: actions/checkout@v6
    - name: Install uv
      uses: astral-sh/setup-uv@v4
      with:
        version: "latest"
    - name: Set up Python 3.10
      run: uv python install 3.10
    - name: Install dependencies
      run: |
        uv sync --extra all
        uv add git+https://github.com/huggingface/transformers
    - name: Run Tests
      run: uv run python -m pytest -n 1 --dist=loadfile -s -v ./tests/
